@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="title">Forget Password</div>
<div class="content">
    <!-- Registration form -->
    <form asp-action="SignIn">
        <div class="user-details">
            <!-- Input for Email -->
            <div class="input-box">
                <span class="details">Email</span>
                <input type="text" asp-for="Email" placeholder="Enter your email" required>
            </div>

            <div class="button">
                <input type="submit" value="Send">
            </div>
        </div>
    </form>

</div>


